@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.container-effect {
  -webkit-tap-highlight-color: transparent;
}

.btn-effect {
  background: linear-gradient(to left, black 50%, white 50%) right;
  background-size: 200%;
  transition: 0.25s ease-in-out;
}

.btn-effect:hover {
  background-position: left;
}

.contact-effect {
  background: linear-gradient(to bottom, black 50%, white 50%) top;
  background-size: 200%;
  transition: 0.25s ease-in-out;
}

.active {
  color: rgb(74 222 128);
}

.border-effect {
  background: linear-gradient(
    270deg,
    rgb(129, 177, 249),
    rgb(74 222 128),
    rgb(199, 143, 255)
  );
  background-size: 400% 400%;

  animation: animate-border 10s ease infinite;
}

@keyframes animate-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

::selection {
  color: white;
  background: rgb(74 222 128);
}
